.heading
{
  font-size:18px;
  border-radius: 10px;
  letter-spacing: 10px;
  font-family: 'Courgette', cursive;
}

body
{
    background-color:rgb(232, 220, 184);
    color:brown;
}

button
{
    font-family: 'Courgette', cursive;
}

p
{
    font-family: 'Lobster', cursive;
}

label
{
    font-family: 'Pacifico', cursive;
}

#camera , #result
{
  border:darkred 10px double;
  width: 350px;
  height: 300px; 
}